<<<<<<< HEAD
<!DOCTYPE html>
<html lang="en">
<head>
=======
<html>
  <head>
>>>>>>> 64ad0cf4dcb8a471cc0ea314d6c62715f65cad08
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="public/css/landingPage.ejs.css">
    <title>Welcome !</title>
<<<<<<< HEAD
</head>

<body>

    <h1> Welcome !</h1>

    <div class="container">
        <h2><a href="/Signup"> Signup </a></h2>
    </div> 

    <div class="container2">
        <h2><a href="/Login">Login </a></h2>
    </div>
      



    <script src="public/js/landingPage.js"></script> 
</body>
 
</html>
=======
  </head>

  <body>
      <div class="hero">
        <div class="form-box">
          <div class="button-box">
            
            <div id="btn">
              <button type:"button" class="toggle-btn" onclick= "login()"> Login </button>
              <button type:"button" class="toggle-btn" onclick= "signup()"> Sign-Up </button>
            </div>
            <div class="social-icons">
             <img src="linkedin.png">
             <img src="mywebsite.png">
              
            </div>
<!--             //login side -->
            <form action:/login id="login" class="input-group">
              <input type="text" class="input-field" placehoder="User ID" required>
              <input type="text" class="input-field" placehoder="Password" required>
              <button type="submit"class="submit-btn"> login </button>
            </form> 
<!--             signup side -->
            <form action:/signup id="Signup" class="input-group">
              <input type="text" class="input-field" placehoder="User ID" required>
              <input type="text" class="input-field" placehoder="Password" required>
              <button type="submit"class="submit-btn"> Signup </button>
            </form> 
              
        


            </div>
        </div>
      </div> 
<!--  connect js   \ -->
  </body>
  <script src="public/js/landingPage.js"></script> 
</html>
>>>>>>> 64ad0cf4dcb8a471cc0ea314d6c62715f65cad08
