<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="public/css/landingPage.ejs.css">
    <title>Welcome !</title>
</head>

<body>

    <h1> Welcome !</h1>

    <div class="container">
        <h2><a href="/Signup"> Signup </a></h2>
    </div> 

    <div class="container2">
        <h2><a href="/Login">Login </a></h2>
    </div>
      



    <script src="public/js/landingPage.js"></script> 
</body>
 
</html>