<html>
  <head>
    <title> Login and Registration form </title>
  </head>

  <body>
      <div class="hero">
        <div class="form-box">
          <div class="button-box">
            
            <div id="btn">
              <button type:"button" class="toggle-btn" onclick= "login()"> Login </button>
              <button type:"button" class="toggle-btn" onclick= "signup()"> Sign-Up </button>
            </div>
            <div class="social-icons">
             <img src="linkedin.png">
             <img src="mywebsite.png">
              
            </div>
<!--             //login side -->
            <form action:/login id="login" class="input-group">
              <input type="text" class="input-field" placehoder="User ID" required>
              <input type="text" class="input-field" placehoder="Password" required>
              <button type="submit"class="submit-btn"> login </button>
            </form> 
<!--             signup side -->
            <form action:/signup id="Signup" class="input-group">
              <input type="text" class="input-field" placehoder="User ID" required>
              <input type="text" class="input-field" placehoder="Password" required>
              <button type="submit"class="submit-btn"> Signup </button>
            </form> 
              
        


            </div>
        </div>
      </div> 
<!--  connect js   \ -->
  </body>

</html>
